<!doctype html>
<html>
  <head>
    <title>Gotitas de Lluvia</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body id="body">
    <!-- encabezado -->
    <header id="header" class="container-fluid row pt-4 pb-2 mb-2">
      <div class="col-1"></div>
      <div class="col-3 pl-4 ml-4">
        <h1 class="">Gotitas de Lluvia</h1>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <a href="/" type="button" class="btn btn-secondary ml-2">Inicio</a>
        <% if(rol!="Empleador") { %><a href="/ofertas" type="button" class="btn btn-secondary ml-2">Ofertas Laborales</a><% } %>
        <% if(rol=="Estudiante") { %><a href="/subircv" type="button" class="btn btn-secondary ml-2">Subir CV</a><% } %>
        <% if(rol=="Empleador") { %><a href="" type="button" class="btn btn-secondary ml-2">Prospectos</a><% } %>
        <% if(rol=="Empleador") { %><a href="" type="button" class="btn btn-secondary ml-2">Subir Oferta</a><% } %>        
        <a href="/logout" class="btn btn-secondary ml-2">Logout</a>
      </div>
    </header>
    <!-- cuerpo -->
    <div class="container" id="box">
      <div class="row">
        <!-- columna de usuario -->
        <div class="col-4">
            <img src="./media/UserPicture.png" alt="img" class="img-thumbnail">
            <h4>Bienvenido, <%= usuario.nombres %> <%= usuario.apellidos %></h4>
            <h6>Usuario: <%= usuario.id_usuario %></h6>
            <h6>Rol: <%= rol %></h6>
          </div>
        <!-- columna de ofertas -->
        <div class="col-8">
          <h3>Ofertas vigentes</h3>
          <% publis.forEach((p) => { %>
            <div class="publicacion container mb-4">
              <div class="texto"><h5><%= p.texto %></h5></div>
              <div hidden class="id_publicador"><%= p.id_usuario %></div>
              <div class="fecha"><h6>Publicado: <%= p.fecha %></h6></div>
              <div class="puesto"><h6>Puesto de trabajo: <%= p.puesto %></h6></div>
              <div class="nombre_empresa"><h6>Publicado por: <%= p.nombre_empresa %></h6></div>
              <% if(rol=="admin") { %> <button class="btn btn-primary mb-2">Eliminar</button><% } %>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>